################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Admin.NET.Core/obj/Debug/net6.0/Admin.NET.Core.dll
