@{
    ViewData["Title"] = ViewBag.Description;
}

<div style="text-align:center;margin-top:50px;">
    
    <p>@ViewBag.Description</p>
    <p><a href="/api">API 接口1111111111111</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://gitee.com/dotnetchina/Furion" target="_blank">源码地址</a></p>
</div>